{% extends "base.html" %}
{% load static %}
{% block page_content %}
    
<header>
    <div class="jumbotron">
        <h1>Reaper Engine</h1>
        <p>Welcome to the Reaper Project!</p>
    </div>
</header>

<div class="row home">
    <div class="col-md-6">
        <img src="{% static 'images/Image1.jpg' %}" class="img-rounded" alt="Beautiful Image">
    </div>
    <div class="col-md-6">
        <p>With The Reaper Engine, we have a simple goal: to create the most powerful game engine in the industry, and to give creators all across the globe the tools to harness this power to create world-class gaming experiences, no matter their budget or team size. </p>
    </div>
    <div class="col-md-6">
        <p>The most powerful game development platform is now available to everyone. For Free. For Ever.</p>
    </div>
    <div class="col-md-6">
        <img src="{% static 'css/images/Image2.jpg' %}" class="img-rounded" alt="Beautiful Image">
    </div>
    <div class="col-md-6">
        <img src="{% static 'css/images/Image3.jpg' %}" class="img-rounded" alt="Beautiful Image">
    </div>
    <div class="col-md-6">
        <img src="{% static 'css/images/Image4.jpg' %}" class="img-rounded" alt="Beautiful Image">
    </div>
    <div class="col-md-6">
        <img src="{% static 'css/images/Image5.jpg' %}" class="img-rounded" alt="Beautiful Image">
    </div>
    <div class="col-md-6">
        <img src="{% static 'css/images/Image6.jpg' %}" class="img-rounded" alt="Beautiful Image">
    </div>
    <div class="col-md-6">
        <img src="{% static 'css/images/Image7.jpg' %}" class="img-rounded" alt="Beautiful Image">
    </div>
    <div class="col-md-6">
        <img src="{% static 'css/images/Image8.jpg' %}" class="img-rounded" alt="Beautiful Image">
    </div>
    <div class="col-md-6">
        <img src="{% static 'css/images/Image9.jpg' %}" class="img-rounded" alt="Beautiful Image">
    </div>
    <div class="col-md-6">
        <img src="{% static 'css/images/Image10.jpg' %}" class="img-rounded" alt="Beautiful Image">
    </div>
    <div class="col-md-6">
        <img src="{% static 'css/images/Image11.jpg' %}" class="img-rounded" alt="Beautiful Image">
    </div>
    <div class="col-md-6">
        <img src="{% static 'css/images/Image12.jpg' %}" class="img-rounded" alt="Beautiful Image">
    </div>
    <div class="col-md-6">
        <img src="{% static 'css/images/Image13.jpg' %}" class="img-rounded" alt="Beautiful Image">
    </div>
    <div class="col-md-6">
        <img src="{% static 'css/images/Image14.jpg' %}" class="img-rounded" alt="Beautiful Image">
    </div>
    <div class="col-md-6">
        <img src="{% static 'css/images/Image15.jpg' %}" class="img-rounded" alt="Beautiful Image">
    </div>
    <div class="col-md-6">
        <img src="{% static 'css/images/Image16.jpg' %}" class="img-rounded" alt="Beautiful Image">
    </div>
</div>
{% endblock %}