.error {
  color: red;
}

body {
  background-color: blue;
}

.container {
  background-color: lightblue;
  border: darkblue 3px 5px
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.jumbotron {
  background-image: url("images/beautiful.jpg");
}

.jumbotron h1, .jumbotron p, .jumbotron2 h1, .jumbotron2 p {
  text-align: center;
  color: #FFF;
}

.jumbotron2 h1, .jumbotron2 p {
  text-align: center;
  color: #ffffff;
}

.home img {
  height: 264px;
  width: 100%;
}

.home p {
  color: #ffffff;
  font-size: 1.5em;
}

.home > * {
  height: 264px;
  margin-bottom: 2em;
}

.jumbotron2 {
  background-color: #101010;
}

table {
  background-color: white;
}